<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_form.css') }}">
</head>
<body>
    <div class="box">

        <h2>Connexion</h2>
        <form id="loginForm">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Email" required>
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" placeholder="Mot de passe" required>
            </div>
            <button type="submit">Se connecter</button>
        </form>
    </div>

    <script>
        document.getElementById("loginForm").addEventListener("submit", async function(event) {
            event.preventDefault();

            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            const graphqlQuery = {
                query: `
                    mutation {
                        loginUser(email: "${email}", password: "${password}") {
                            success
                            message
                            user {
                                id
                                username
                                email
                            }
                        }
                    }
                `
            };

            const response = await fetch("http://127.0.0.1:80/graphql", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(graphqlQuery)
            });

            const data = await response.json();
            alert(data.data.loginUser.message);
        });
    </script>
</body>
</html>
